.footer {
  background-color: $color-blue-zodiac;

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;

    color: $color-default-white;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    @include vp-1279 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include vp-1023 {
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 13px;
      line-height: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 20px;
      padding-top: 15px;
    }

    @include vp-767 {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }

  &__copyright {
    @include vp-1023 {
      align-self: center;
    }

    @include vp-767 {
      order: 3;
      grid-column: 1 / span 2;
      border-top: $color-silver-c3 1px solid;
    }
  }

  &__copyright-text {
    margin: 0;
    text-align: center;

    span {
      text-transform: uppercase;
    }

    @include vp-1023 {
      text-align: center;
    }
  }


  &__payment-list {
    display: flex;
    column-gap: 38px;
    margin: 0;
    padding: 0;

    list-style-type: none;
    color: $color-silver-c3;

    @include vp-1439 {
      gap: 15px;
    }

    @include vp-1279 {
      margin-left: 15px;
      margin-right: 15px;
    }

    @include vp-1023 {
      flex-direction: column;
      gap: 10px;
      margin: 0;
    }
  }

  &__payment-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    white-space: nowrap;
    user-select: none;

    @include vp-767 {
      column-gap: 5px;
    }
  }

  &__payment-icon-wrapper {
    position: relative;
    width: 20px;
    height: 20px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }


  &__contacts-list {
    display: flex;
    column-gap: 38px;
    margin: 0;
    padding: 0;

    list-style-type: none;

    @include vp-1439 {
      gap: 15px;
    }

    @include vp-1279 {
      justify-content: end;
    }

    @include vp-1023 {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__contacts-link {
    display: flex;
    align-items: center;
    column-gap: 10px;

    transition: all 0.3s ease;

    @include vp-767 {
      column-gap: 5px;
    }

    &:hover {
      color: $color-summer-sky;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__contacts-icon-wrapper {
    position: relative;
    width: 20px;
    height: 20px;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
