.intro {
  background: url("../img/intro.jpg") no-repeat center center;
  background-size: cover;

  background-color: $color-white-70;
  min-height: 850px;

  @include vp-767 {
    min-height: 0;
    background-position: center left;
  }

  &__container {
    padding-top: 203px;

    @include vp-767 {
      padding-top: 90px;
      padding-bottom: 50px;
    }
  }

  &__title {
    max-width: 780px;
    margin: 0;
    margin-bottom: 90px;

    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;

    @include vp-767 {
      margin-bottom: 40px;
      font-size: 28px;
    }

    span {
      color: $color-summer-sky-circle;
    }
  }

  &__description {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    @include vp-767 {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__list {
    margin: 0;
    margin-bottom: 80px;
    list-style-type: "-  ";
    padding-left: 25px  ;

    @include vp-767 {
      margin-bottom: 60px;
    }
  }

  &__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 5px;

    &:last-child {
      padding-bottom: 0;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__button-wrapper {
    display: flex;
    column-gap: 30px;

    @include vp-767 {
      flex-direction: column;
      row-gap: 15px;
    }
  }
}
