.order {
  background: url("../img/map.png");
  padding-bottom: 150px;

  &__container {
    padding-top: 121px;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    color: $color-default-white;

    &--sky {
      color: $color-summer-sky-circle;
    }
  }

  &__description {
    margin: 0 0 80px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $color-silver-b;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;

    padding: 0;
    margin: 0 0 80px;
    list-style-type: none;
  }

  &__item {
    position: relative;
    width: 209px;
    min-height: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;


    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $color-default-white;

    &:last-child {
      .order__icon-wrapper::before {
        content: none;
      }
    }
  }

  &__icon-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: $color-summer-sky-circle;
    border: $color-endeavour 5px solid;
    margin-bottom: 20px;

    &::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      top: 50%;
      right: -26px;
      transform: translateY(-50%);
      background-color: $color-silver-c4;
      border-radius: 50%;
      box-shadow:
        0 0 0 0 $color-silver-c4,
        26px 0 $color-silver-c4,
        52px 0 $color-silver-c4,
        78px 0 $color-silver-c4,
        104px 0 $color-silver-c4;
    }

  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__item-text {
    padding: 0 10px;
    margin: 0;
    }
}
